* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: medium;
  text-align: center;
  transition: 2s linear;
}
body {
  background-color: lightpink;
}

#container {
  background-color: aqua;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  height: 5px;
}
.logo {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  margin-right: 180vh;

  
}
.logo span {
  color: rgb(226, 43, 150);
}

.icons {
  font-size: 2rem;
  background-color: aqua;
  color: black;
  padding-top: 50px;
  margin-top: -30;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: absolute;
  margin-left: 150vh;
}
#About {
  margin-left: 10px;
  margin-right: 10px;
}
#phoneAccessories {
  margin-right: 10px;
}

.search-form {
  background-color: salmon;
  height: 90px;
  align-items: center;
}
#phoneAccessoriesList {
  display: flex;
  flex-wrap: wrap;
}
.phoneAccessories {
  width: 400px;
  height: 400px;
  margin: 25px 25px;
  background-size: cover;
  justify-content: space-evenly;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.title {
  color: brown;
  font-weight: bold;
}
button {
  background-color:lightgreen;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#categoryFilter{
  background-color: lightsalmon;
  padding: 6px;
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  text-transform: medium;
  border-radius: 5px;
  border: 1px solid bisque;
  cursor: pointer;

}
footer{
  background-color: bisque;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  justify-content:space-around;
  padding: 40px 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.footer-section{
  margin: 10px;
}

#footer-about h3{
  color: aqua;
  font-size: 1.5rem;
  border-bottom: 2px;
}
#footer-phone accessory h3{
  color: brown;
  font-size: 1.5rem;
  border-bottom: 2px solid brown;

}
#footer-contact h3{
  color: blue;

}
.footer-section{
  font-size: 1rem;
  line-height: 1.5rem;
}

